.usersTbl {
  padding: 0 60px;
  margin: auto;
  margin-top: 30px;
  h2 {
    margin-bottom: 20px;
  }
  .tbl {
    color: var(--light1);
    background-color: var(--dark1);
    box-shadow: none;
  }
  th,
  td {
    color: var(--light1);
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #e4e6e9;

    // width: 10px;
  }
  .product {
    .imgBox {
      position: relative;
      width: 60px;
      height: 60px;
      object-fit: cover;
      // padding: 10px;
      // border-radius: 100px;
      // background-color: var(--dark2);
      // border: 1px solid var(--border1);
    }
  }
}
