.paginationBox {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  button {
    border: none;
    padding: 5px 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    border: 1px solid var(--border1);
    // &:hover {
    //   background-color: var(--light2);
    // }
    &:disabled {
      cursor: not-allowed;
      color: var(--light3);
      background-color: var(--dark3);
    }
    &:first-child {
      margin-left: auto;
    }
  }
}
